body {
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #0091c2;
}

#weather {
  width: 960px;
  margin: 50px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather h2,
#weather h3 {
  margin: 80px 0 8px;
  color: #fff;
  font-size: 7em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather h5 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  /*background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 0px;*/
  display: inline;
  border-radius: 5px;
  width: 75%;
}

#weather .currently {
  margin: 0 20px;
}

#inputs {
	margin: 50px 0px 0px 50px;
}

.btn {
	margin: 0 0 10px 0;
}

ul li img {
	margin: 40px;
}

ul li h5 {
	margin: 40px;
}


/* Large desktop */
@media (min-width: 1200px) {
	#weather {
		width: 75%;
	}
	#inputs {
		width: 75%;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#weather {
		width: 75%;
	}
	#inputs {
		width: 75%;
	}
	
	#weather h2,
	#weather h3 {
	  margin: 50px 50px 8px;
	  color: #fff;
	  font-size: 5em;
	  font-weight: 300;
	  line-height: normal;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
	
	#weather h5 {
	  margin: 0 0 8px;
	  color: #fff;
	  font-size: 3em;
	  line-height: normal;
	  font-weight: 300;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#weather {
		width: 50%;
	}
	
	#inputs {
		width: 50%;
	}
		#weather img {
		margin: 40px 40px 40px 0;
	}
	#weather h2,
	#weather h3 {
	  margin: 30px 30px 8px;
	  color: #fff;
	  font-size: 4em;
	  font-weight: 300;
	  line-height: normal;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
	
	#weather h5 {
	  margin: 0 0 8px;
	  color: #fff;
	  font-size: 3em;
	  font-weight: 300;
	  line-height: normal;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	#weather {
		width: 40%;
		margin: 20px 10px 0px 75px;
	}
	#weather img {
		margin: 40px 40px 40px 0;
	}
	#inputs {
		width: 40%;
	}
	
	#weather h2,
	#weather h3 {
	  margin: 10px 10px 0px 0px;
	  color: #fff;
	  font-size: 3em;
	  font-weight: 300;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
	
	#weather h5 {
	  margin: 0 0 8px;
	  color: #fff;
	  font-size: 2em;
	  line-height: normal;
	  font-weight: 300;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
}




